---
title: 'Главная'
bodyClass: Index_Page
outClass: Index_Page
---
extends _index

block content
	main.main(id='home')
		.test-area
			button.test-area-btn(
				data-sound-press-src="click.wav"
				data-sound-hover-src="bubble-hover.wav"
				data-sound-hover-volume="1")
					.test-area-btn__text Test 1

			button.test-area-btn(
				data-sound-press-src="click.wav"
				data-sound-hover-src="bubble-hover.wav"
				data-sound-hover-volume="1")
					.test-area-btn__text Test 2

		.user-interface
			.user-interface__row
				.user-interface__column
				.user-interface__column

			.user-interface__row
				.user-interface__column
				.user-interface__column
					.volume-range
						input.volume-range__element.js-volume-range(type="range" value="100")