mixin img(url, extension, alt)
	if alt == undefined
		img(
			src=`${url}.${extension}`, srcset=`${url}@1x.${extension} 1x, ${url}@2x.${extension} 2x`)
	else
		img(src=`${url}.${extension}`, srcset=`${url}.${extension} 1x, ${url}@2x.${extension} 2x`, alt=`${alt}`)

mixin picture(srcPathWithoutExt, svg)
	picture
		if svg
			source(type="image/svg+xml" srcset=`${srcPathWithoutExt}.svg`)
			source(srcset=`${srcPathWithoutExt}@1.png, ${srcPathWithoutExt}@2.png 2x`)
			img(src=`${srcPathWithoutExt}@1.png`)
		else
			source(srcset=`${srcPathWithoutExt}@1.png, ${srcPathWithoutExt}@2.png 2x`)
			img(src=`${srcPathWithoutExt}@1.png`)
